// project main styles
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 14px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: $secondary;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  backface-visibility: hidden;
  text-rendering: geometricPrecision;

  // style default scrollbar 
  &::-webkit-scrollbar {
    width: 6px;
    background-color: $secondary;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px $secondary;
    box-shadow: inset 0 0 4px $secondary;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    outline: 1px solid $primary;
    transition: background-color 0.4s ease;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Molot", "Roboto"sans-serif;
  margin: 0;
  line-height: .95em;
  font-weight: 400;
}

h1 {
  font-size: 144px;
  color: $white;
  line-height: 0.85em;

  @include d(1280) {
    font-size: 100px;
  }

  @include d(991) {
    font-size: 90px;
  }

  @include d(575) {
    font-size: 70px;
  }

  @include d(400) {
    font-size: 60px;
  }

  strong {
    display: block;
    font-weight: normal;
    padding-left: 110px;

    @include d(400) {
      padding-left: 40px;
    }
  }
}

h2 {
  font-size: 72px;

  @include d(991) {
    font-size: 60px;
  }

  @include d(575) {
    font-size: 46px;
  }
}

h3 {
  font-size: 24px;
  margin-bottom: 11px;
}

h4,
h5,
h6 {
  font-size: 18px;
  margin-bottom: 8px;
}

.title-1 {
  @extend h1;
}

.title-2 {
  @extend h2;
}

.title-3 {
  @extend h3;
}

.title-4 {
  @extend h4;
}

.title-5 {
  @extend h5;
}

.title-6 {
  @extend h6;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  line-height: 1.6em;
  margin: 0;
}

b,
strong {
  font-size: inherit;
}

img,
picture,
source {
  width: 100%;
  display: block;
}

label {
  cursor: pointer;
}

// hide custom arrows
select {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

select::-ms-expand {
  display: none;
}

p,
li {
  line-height: 1.286em;
  margin: 0 0 4px 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

.section {
  position: relative;

  &__title {
    color: $primary;
    margin-bottom: 80px;

    @include d(991) {
      margin-bottom: 30px;
    }
  }
}

blockquote,
figure {
  margin: 0;
}

button {
  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

// hide date navigation in input
input[type="date"] {
  display: block;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button {
    display: none;
  }

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: relative;
    right: -10px;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    -webkit-appearance: none;
  }
}

// hide arrows in input type number
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

textarea,
input {
  color: $textColor;
  width: 100%;
  border: none;
  transition: border-color $timing $hover-duration,
    color $timing $hover-duration;

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    font-family: inherit;
    font-size: 14px;
    color: $secondary;
    text-transform: uppercase;
    font-weight: 900;
  }

  &::-moz-placeholder {
    font-family: inherit;
    font-size: 14px;
    color: $secondary;
    text-transform: uppercase;
    font-weight: 900;
  }

  &:-ms-input-placeholder {
    font-family: inherit;
    font-size: 14px;
    color: $secondary;
    text-transform: uppercase;
    font-weight: 900;
  }

  &::placeholder {
    font-family: inherit;
    font-size: 14px;
    color: $secondary;
    text-transform: uppercase;
    font-weight: 900;
  }
}

textarea {
  resize: none;
  outline: none;
  line-height: 1.2em;
  height: 100%;
}

.main-wrapper {
  position: relative;
  overflow: hidden;
  opacity: 1;
  transition: opacity $duration $timing;
}

.btn {
  position: relative;
  cursor: pointer;
  border: 2px solid $primary;
  color: $white;
  background-color: $primary;
  border-radius: 30px;
  min-width: 175px;
  height: 80px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  perspective: 500px;
  transition: border-color 0.2s ease, background-color 0.2s ease, color $hover-duration $timing;

  @include d(991) {
    min-width: 124px;
    height: 48px;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: transform $hover-duration $timing, opacity $hover-duration $timing;

    &:last-child {
      transform: rotate3d(-1, 0, 0, 90deg) translate(0, 30%);
      opacity: 0;
    }
  }

  &:hover {
    background-color: $primaryHover;
    color: $primary;

    span {
      &:first-child {
        transform: rotate3d(-1, 0, 0, 90deg) translate(0, -30%);

        opacity: 0;
      }

      &:last-child {
        transform: rotate3d(0, 0, 0, 90deg) translate(0, 0);
        opacity: 1;
      }
    }
  }
}

.svg-icon {
  width: 32px;
  height: 32px;
}

.svg-arrow {
  height: 10px;
  width: 50px;
  margin: 0 10px;
  fill: $secondary;
  transition: fill $hover-duration $timing;
}

.form-box {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 12px;
}

.form-input {
  font-size: 14px;
  padding: 10px 0;
  border-bottom: 2px solid $secondary;
  font-size: 14px;
  color: $secondary;
  transition: border $hover-duration $timing;

  &:focus {
    border-bottom: 2px solid red;
  }

  &:focus:invalid {
    border-bottom: 2px solid $secondary;
  }
}



.form-label {
  position: absolute;
  top: 15px;
  left: 0;
  opacity: 1;
  text-transform: uppercase;
  font-weight: 900;
  transform: translate(0, -24px);
  transition: transform $hover-duration $timing, opacity $hover-duration $timing;
}

.form-input:placeholder-shown~.form-label {
  opacity: 0;
  transform: translate(0, 0);
}

.inner-page {
  height: 100vh;

  .main {
    height: 100%;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    .copyright {
      display: none;
    }
  }
}

.not-found {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;

  h4,
  .title-4 {
    max-width: 210px;
  }

  .btn {
    @include d(991) {
      min-width: 200px;
    }
  }

  &__title {
    font-size: 288px;
    line-height: 1em;
    font-family: "Molot";

    @include d(991) {
      font-size: 200px;
    }

    @include d(575) {
      font-size: 160px;
    }

    @include d(360) {
      font-size: 140px;
    }
  }
}

.fixed {
  overflow: hidden;
}

.slider-nav {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.slider-btn {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  padding: 0 20px;
  color: $secondary;
  background-color: transparent;
  border: none;
  transition: color $hover-duration $timing;

  &:hover {
    color: $primary;

    .svg-arrow {
      fill: $primary;
    }
  }
}