// project colors
$white: #ffffff;
$black: #000000;
$textColor: $black;
$primary: #F92626;
$primaryHover: #FF9393;
$secondary: #012B99;
$gray-100: #E0E0E0;
$gray-200: #A7A7A7;

// timing
$hover-duration: .5s;
$duration: .8s;
$timing: ease;