  <!-- footer start -->
  <footer class="footer js-scroll-footer hidden">
    <div class="footer__img">
      <img src="img/footer.png" alt="snow">
    </div>
    <p class="copyright">&copy; 2022 SPORTWAY</p>
    <div class="footer__girl js-show-girl">
      <img src="img/home/girl.png" alt="girl">
    </div>
  </footer>
  <div class="popup-wrapper">
    <div class="popup">
      <h4 class="title-4">Спасибо</h4>
      <p>Ваше сообщение отправлено.</p>
      <button class="btn" id="modalBtn">
        <span>Хорошо</span>
        <span>Хорошо</span>
      </button>
    </div>
  </div>

  <!-- footer end -->